{% extends 'themes/layout.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">
    <h1><b>{{title}}</b></h1>
  </h1>
  
  <section class="page-section about-heading">
    <div class="container">
      <!-- <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/img/about.jpg" alt=""> -->
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-16 col-lg-16 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Ekstraksi Fitur Warna & Tekstur</span>
                <span class="section-heading-lower">Citra Rimpang</span>
              </h2>
              <form action="/ekstraksi_fitur" enctype="multipart/form-data" method="post">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <label for="txtPost">Unggah Gambar</label>
                  <div class="card mt-2" style="width: 18rem">
                    <div class="card-body">
                      <img src="..." class="card-img-top" alt="..." id="preview" height="200" />
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                        Browse&hellip;
                        <input type="file" name="file" accept="image/*" onchange="tampilkanPreview(this,'preview')" />
                      </span>
                    </span>
                    <input type="text" class="form-control" readonly />
                  </div>
                </div>
                <!-- input target -->
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Jenis Rimpang</label>
                  <select class="form-control" name="Target" id="exampleFormControlSelect1">
                    <option value="1">Jahe</option>
                    <option value="2">Kencur</option>
                    <option value="3">Kunyit</option>
                    <option value="4">Lengkuas</option>
                  </select>
                </div>
                <!-- Button -->
                <button type="submit" class="btn btn-success btn-icon-split">
                  <!-- </form> -->
                  <span class="icon text-white-50">
                    <i class="fas fa-sync-alt"></i>
                  </span>
                  <span class="text">PROSES</span>
                </button>              
              </form>

                                                                                                                             

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.container-fluid -->

<!-- </div> -->
<!-- End of Main Content -->

{% endblock %}