{% extends 'themes/layout.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">
    <h1><b>{{title}}</b></h1>
  </h1>
  
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/intro.png" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Landasan</span>
              <span class="section-heading-lower">Klasifikasi Rimpang</span>
            </h2>
            <p class="mb-3">Rimpang memiliki bentuk yang terlihat sama, dengan melihat ciri-ciri dari bentuk dan warna rimpang tersebut. Warna dan tekstur menjadi ciri yang mudah diketahui untuk membedakan jenis rimpang. 
              Dengan menerapkan metode pengklasifikasian algoritma Naive Bayes Classifier untuk mengklasifikasikan kelas jahe, kelas kencur, kelas kunyit dan kelas lengkuas.
            </p>
            <div class="intro-button mx-auto">
              <a href="#!" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#bantuan">Bantuan</a>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="bantuan" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                      Bantun
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   
                    <h3>
                      <b><u>PETUNJUK PENGGUNAAN APLKASI :</u></b>
                    </h3>
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................
                    ........................................

                  </div>
                </div>
              </div>
            </div>
            <!-- END EDIT -->

          </div>
        </div>
      </div>
    </section>
    
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Tentang</span>
                <span class="section-heading-lower">Klasifikasi Rimpang</span>
              </h2>
              <p class="mb-0">Pengumpulan data terkait pengkelompokan rimpang didapat dari hasil pemotretan rimpang
              sebanyak 200 rimpang. 200 rimpang ini dibagi dalam empat kelompok yaitu 50 jahe, 50 kunyit, 50 lengkuas, dan 50 kencur.
              Gambar yang telah didapatkan akan dipisahkan menjadi 2 bagian yaitu data latih dan data uji. Proses pemotretan atau
              pengambilan gambar dilakukan dengan hasil foto sendiri, pencahayaan yang cukup dan background warna putih. Objek yang
              digunaakan adalah daging rimpang yang sudah di kupas dan diiris.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  
</div>
<!-- /.container-fluid -->

<!-- </div> -->
<!-- End of Main Content -->

{% endblock %}
