{% extends 'themes/layout.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">
    <h1><b>{{title}}</b></h1>
  </h1>
  
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/intro.png" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Landasan</span>
              <span class="section-heading-lower">Klasifikasi Rimpang</span>
            </h2>
            <p class="mb-3">Rimpang memiliki bentuk yang terlihat sama, dengan melihat ciri-ciri dari bentuk dan warna rimpang tersebut. Warna dan tekstur menjadi ciri yang mudah diketahui untuk membedakan jenis rimpang. 
              Dengan menerapkan metode pengklasifikasian algoritma Naive Bayes Classifier untuk mengklasifikasikan kelas jahe, kelas kencur, kelas kunyit dan kelas lengkuas.
            </p>
            <div class="intro-button mx-auto">
              <a href="#!" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#bantuan">Bantuan</a>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="bantuan" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class=" bg-primary modal-header ">
                    <h5 class="modal-title" id="staticBackdropLabel">
                      Bantun
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   
                    <h3>
                      <b><u>PETUNJUK PENGGUNAAN APLIKASI :</u></b>
                    </h3><br>
                    <ol type="1" align="left" >
                      <li>Buka Aplikasi Klasifikasi Rimpang</li>
                      <li>Langkah pertama, silahkan klik menu Ekstraksi Fitur. <br>
                      Menu Ekstraksi Fitur untuk mengolah data citra 
                      yang terdapat di halaman Menu Data. <br>
                      Pada Menu Ekstraksi Fitur langkah-langkahnya sebagai berikut :
                      </li>
                      <ol type="a">
                        <li>Buka gambar yang akan di proses untuk di ekstraksi</li>
                        <li>Inputkan jenis rimpang gambarnya</li>
                        <li>Tekan tombol proses untuk memproses ekstraksi</li>
                        <li>
                          Cek tabel yang di bawah untuk melihat data citra yang telah di
                          inputkan tadi
                        </li>                      
                      </ol>
                      <li>Pada Menu Data, dapat melihat data untuk pelatihan dan data untuk pengujiannya.</li>
                      <li>
                        Selanjutnya klik Menu Klasifikasi, ini merupakan proses hasil perhitungan <br>
                        metode Naive Bayes Classifier.
                        Klik tombol proses untuk mengetahui apakah sistem mampu mengklasifikasi citra rimpang. 
                        Akan muncul informasi pada tabel hasil pengujian.
                      </li>
                      
                    </ol>
                    <br><br>

                  </div>
                </div>
              </div>
            </div>
            <!-- END EDIT -->

          </div>
        </div>
      </div>
    </section>
    
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Tentang</span>
                <span class="section-heading-lower">Rimpang</span>
              </h2>
              <p class="mb-0">Jahe, memiliki bentuk menyerupai ruas jari manusia, kulit berwarna coklat keabuan, daging jahe terlihat berwarna kekuningan dengan serat yang lembut, memiliki aroma sedikit pedas dan beraroma segar, biasa digunakan untuk bahan pembuatan jamu dan penghilang bau amis pada daging</p>
              <p>Kencur, memiliki bentuk agak agak bulat & relatif kecil, beraroma sedikit asam & segar, saat di belah buahnya berwarna putih, bisa digunakan untuk jamu dan sering digunakan untuk sayur bening.</p>
              <p>Kunyit, memiliki bentuk yang lonjong dan ramping yang memiliki aroma sedikit asam, kulitnya berwarna cokelat tua dan mempunyai daging berwarna oranye terang , selain biasanya digunakan untuk bahan pembuatan jamu , biasanya untuk menciptakan warna kuning pada masakan sebagai pewarna alami.</p>
              <p>Lengkuas, memiliki bentuk hampir mirip seperti jahe tetapi untuk warna kulit cenderung mengkilap &  berwarna cokelat muda, memiliki aroma segar tetapi tidak terlalu menyengat seperti jahe, untuk buahnya sediri berwarna putih kemerahan serta teksturnya berserat, sering digunakan unruk menambah aroma tumisan</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  
</div>
<!-- /.container-fluid -->

<!-- </div> -->
<!-- End of Main Content -->

{% endblock %}
